<h1 id="" name="" [attr.grade]="title">hello world this is next day</h1>
<h2>{{title}}</h2>

<h3>{{Hero}}</h3>

@if (age>18) {
  <p>you can vote</p>
} @else if(age==18) {
  <p>you can vote welcome for firt time you are giving vote</p>
}
@else{
  <p>not elligible to vote</p>
}


@switch (age) {
  @case (18) {
    <p>welcome to vote first time </p>
  }
    @case (20) {
    <p>Elligible for Voting</p>
  }


  @default {
    <p>cannot vote</p>
  }
}


@for (item of carList ; track item) {  
  <ul>
    <li>{{item}}</li>
  </ul>
}

@for (item of sports; track item.id; let idx = $index, e = $even,o=$odd,first=$first,last=$last,count=$count) {
Item #{{ idx }}: {{ item.name }} {{e}}-{{o}}-{{first}}--{{last}}--{{count}}<br>
}

@for (item of sports; track item.id; let idx = $index,f=$first ) {
 <p [style.color]="f ? 'green' : 'red'">{{item.name}}</p><br>
}

<table>
  <thead>
    <tr>
      <th>sno</th>
    <th>id</th>
    <th>name</th>
    </tr>
  </thead>
  <tbody>
@for (item of sports; track item.id; let idx = $index,e=$even ) {
 <tr [style.color]="e ? 'green' : 'red'">
  <td>{{idx+1}}</td>
  <td>{{item.id}}</td>
  <td>{{item.name}}</td>
 </tr>
}
</tbody>
</table>


<div [attr.grade]="title">hello</div>
<input type="text" [value]="Hero" [attr.stdage]="age"/>
<p [attr.name]="Hero">haha</p>
<!-- 
---------------------------------- -->


 <p class="myRedclass">hello</p> <!-- right -->
 <h1 [class]="xyz">hello2</h1> <!-- right -->
<span [class]="boomboom">dream come true</span>
<p [class]="firstclassArray">class Array Example</p>
<p [class]="firstclassObj">great deal</p>
<p [style]="firstStyle">Hello Style</p>
<p [style.color]="secondStyle">Second Style</p>
<input type="text" [(ngModel)]="UserName">
{{UserName}}
<x></x>