

<ul class="nav">  
  <li class="nav-item">
    <a class="nav-link" aria-current="page" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Home</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" aria-current="page" routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/about',1,'sample']" [queryParams]="{page:1,search:'Gamini'}" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Contact</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" routerLink="/testDeactivate" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">testDeactivate</a>
  </li>
   
</ul>



<div class="container-fluid">
<router-outlet></router-outlet>
</div>